/** HEADER **/
#header-nav {
  background-color: silver;  
  border: 2px solid black;
  border-radius: 0;
}
.navbar {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#menuDropdown{
  border: 2px solid black;
  padding: 0px;  
  background-color:pink;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 50px;
}
#menuDropdown h4{
  color: black;  
}
#menuDropdown hr{
  border-top: 2px solid black;
}
.navbar-collapse {
  padding: 0px;
  border-top: 0px;
}
#home-tiles{
  padding-top: 50px;
}
.menu{
  background-color:  salmon;
  border: 15px solid white;

}
